label {
  width: 90%;
  display: flex;
  align-items: flex-start;
  margin: 20px;
}

.textHeader {
  font-size: 35px;
}
.searchBar {
  width: inherit;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}
.textInputSearchBar {
  width: 80%;
  border: none;
  border-bottom: 1px solid #5d4be6;
  outline: none;
  font-size: 18px;
  margin-left: 5px;
}
.searchBarIcon {
  color: #5d4be6;
  margin-right: 20px;
}
.content {
  display: flex;
  flex-flow: column;
}
form {
  position: fixed;
  bottom: 15px;
  left: 30px;
  right: 30px;
  border: 1px solid #ccc;
  display: flex;
  z-index: 10;
  flex-direction: column;
  border-radius: 20px;
  padding: 5px 0;
  padding-top: 10px;
}

form:hover {
  background-color: #cccccc;
}
.formInput {
  width: 90%;
  border: none;
  border-bottom: 1px solid #5d4be6;
  outline: none;
  align-self: center;
  font-size: 15px;
  margin: 5px 0;
}

.button {
  background-color: #5d4be6;
  align-self: flex-end;
  width: 50px;
  height: 50px;
  margin: 5px 10px;

  outline: none;
  border-radius: 50%;
}
.plus {
  font-size: 30px;
  color: white;
}
.items {
  width: 100%;
  height: 290px;
  overflow-y: scroll;
}
@media (min-width: 501px) {
  .items {
    height: 420px;
  }
}
@media (max-width: 500px) and (min-height: 500px) {
  .items {
    height: 220px;
  }
}
@media (max-width: 500px) and (min-height: 600px) {
  .items {
    height: 295px;
  }
}
@media (max-width: 500px) and (min-height: 700px) {
  .items {
    height: 355px;
  }
}
@media (max-width: 500px) and (min-height: 800px) {
  .items {
    height: 445px;
  }
}
