.todoItem {
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  margin: 0 20px;
  padding: 10px 10px;
}

.todItemText {
  font-size: 18px;
}

.deleteButton {
  position: absolute;
  color: #5d4be6;
  top: 10px;
  bottom: 10px;
  right: 10px;
}
